h1 {
        text-align: center;
        font-size: 48px;
}
body {
    margin: auto;
    margin-left: 70px;
    margin-right: 70px;

}
h3 {
    margin-left: 20px; /* Встановлення відступу зліва для заголовку третього рівня */
}

p {
    text-align: justify;
    text-indent: 20px; /* Встановлення відступу абзаців */
    font-weight: normal; /* Змінює жирність шрифта на звичайний */
    font-size: 24px; /* Змінює розмір шрифта на 24 пікселя */
}
.text1{
    margin-top: 60px;

}
.text2{
    margin-top: 60px;
}
h2{
    text-align: center;
    font-size: 30px;
}
.footer{
    margin-top: 20px;
}
/* Стилізація кнопок */
    .date-btn {
        
      display: block; /* Робимо кнопки блоковими для розміщення в стовпчик */
      width: 100%; /* Розтягуємо кнопки на всю доступну ширину */
      padding: 5px 10px;
      margin: 5px 0; /* Додатковий відступ між кнопками */
      cursor: pointer;
      border: 1px solid #000;
      border-radius: 3px;
      background-color: #fff;
      
    }

    /* Стилізація тексту, який буде з'являтися */
    .text-content {
      display: none; /* Приховання тексту за замовчуванням */
      margin-top: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
      transition: all 0.3s ease; /* Додамо плавний перехід для анімації */  
    }

    /* Показуємо текст, якщо елемент має клас visible */
    .visible {
      display: block !important;
    }
